.bodyContainer {
    height: calc(100vh - 100px);
    border-left: 2px solid #4379F2;
    border-right: 2px solid #4379F2;
    width: 700px;
    overflow: auto;
}

input[type="checkbox"] {
    accent-color: #FFEB00;
}

input[type="text"] {
    width: 630px;
    padding: 10px;
    margin: 2px;
    font-size: 20px;
}

.addItem{
    padding: 10px;
    width: 60px;
    font-size: 20px;
} 

.addItem:hover {
    background-color: #6EC207 !important;
}

.delItem:hover {
    background-color: #F05A7E !important;
    color: white;
}

.ediItem:hover {
    background-color: #FFEB00 !important;
}

ol {
    list-style-type: none;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightcoral;
    margin-bottom: 3px;
}

li>input {
    margin: 2px;
    zoom: 2.5;
}

li>p {
    font-size: 20px;
}

.buttonContainer input{
    width: 70px;
    padding: 5px;
    margin: 2px;
    font-size: 18px;
} 

.strike {
    text-decoration: line-through;
}